<div class="ui segment">
  <h2>About the Application</h2>
  <div class="ui divider"></div>
  <br />
  <p>The application has two searching features:</p>
  <ol>
    <li>The Wikipedia article search</li>
    <li>The Unsplash images search</li>
  </ol>
  <p>
    Both the a features use modular components for resuseability and the
    application itself uses angular routing for navigation. API calls are made
    using HTTPClient modules from angular and the async response is handles
    using RxJs observables and observers. TypeScript generics is use along with
    the Observables to ensure type checking.
  </p>
</div>
